:host {
    z-index: 0;
}

.gallery {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    width: auto;
    

    height: 100%;
    margin: 0 auto;
}

.gallery-container {
    width: 100%;
    height: 100%;
}
