<div class="background" (click)="onBackgroundClick($event)">
    <div class="window" (click)="onWindowClick($event)">
        <div *ngIf="isPurchaseFormShown === false">
            <p>{{goodsInfo.name}}</p>
            <p>{{goodsInfo.price}}</p>
            <button (click)="showPurchaseForm()">show form</button>
            <div class="map">
                <app-map 
                    [markers]="getAddresses()"
                    (onMarkerSelected)="onMapAddressSelected($event)">
                </app-map>
            </div>
        </div>
        <app-purchase-form 
            *ngIf="isPurchaseFormShown"
            [goodsSelected]="goodsInfo"
            [addressSelected]="addressSelected">
        </app-purchase-form>
    </div>
</div>
