.preview-image {
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    background-size: contain;
    width: 80%;
    height: 80%;
    padding: 0;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border-radius: 20px 20px 0 0;
    border: 1px solid lightgray;
}

.container {
    padding: 10px;
}

.layout {
    //box-sizing: content-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 14rem;
    height: 19rem;
    border-radius: 20px;
}

.outline {
    position: absolute;
    bottom: 0;
    left: 0;
    min-width: 14rem;
    height: 19rem;
    border-radius: 20px;
    &:hover {
        border: 2px solid #75ff77;
        cursor: pointer;
    }
}

.outline-container {
    position: relative;
    left: 0;
    bottom: 0;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 5rem;
    width: 100%;
    background-color: lightgray;
    border-radius: 0 0 20px 20px;

    padding-top: 10px;
    padding-bottom: 10px;
}

.name {
    margin: 5px 0 5px 0;
    padding: 0 10px;
    font-size: 1.3rem;   
}

.price {
    margin: auto 0 5px 0;
    min-height: 1rem;
    text-align: right;
    width: 80%;
    font-size: 1.5rem;
    font-weight: bold;    
}

.not-loaded {
    .price {
        background-color: white;
        width: 40%;
        color: white;
    }

    .name {
        background-color: white;
        width: 80%;
        color: white;
    }

    .preview-image {
        box-sizing: border-box;
        background-image: url("/assets/gif/loading.gif");
        background-repeat: no-repeat;
        background-position: center;
        background-color: white;
        background-size: 2rem;
    }

    .layout:hover {
        cursor: default;
    }
}

@media only screen and (max-device-width: 800px) {
    .layout {
        min-width: 0;
    }

    .outline {
        min-width: 0;
    }
}