<div class="layout">
    <form [formGroup]="purchaseForm">

        <div class="field">
            <label for="firstName" class="required">First name</label>
            <input id="firstName" type="text" formControlName="firstName">
        </div>
    
        <div class="field">
            <label for="lastName" class="required">Last name</label>
            <input id="lastName" type="text" formControlName="lastName">
        </div>
    
        <div class="field">
            <label for="patronymic">Patronymic (if exist)</label>
            <input id="patronymic" type="text" formControlName="patronymic">
        </div>
        
        <div class="field">
            <label for="phoneNumber" class="required">Phone number</label>
            <input id="phoneNumber" type="number" formControlName="phoneNumber">
        </div>
    
        <div class="field">
            <label for="email" class="required">Email</label>
            <input id="email" type="text" formControlName="email">
        </div>
    
        <app-selected-goods-form-container formControlName="goods"></app-selected-goods-form-container>
    
        
    </form>
    <div class="button-container">
        <button (click)="onFormSubmit()" class="submit-button">Submit</button>
        <button>Back</button>
    </div>
</div>

